/*
 * CSS Styles that are used on the jScrollPane demo site - these are custom to the site and
 * you shouldn't need to use them in your own implementations of jScrollPane.
 */

#top-nav
{
	width: 780px;
	background: #50506d;
	padding: 0 20px 12px 0;
	margin: 0 auto 20px;
	overflow: hidden;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-radius-topright: 0;
}

#top-nav img
{
	float: left;
}

#top-nav ul
{
	margin: 28px 0 0;
	overflow: hidden;
	float: right;
}

#top-nav ul li
{
	float: left;
	padding: 0 0 0 1em;
	list-style: none;
}

#top-nav ul li a
{
	color: #fff;
}

#top-nav ul li a:hover
{
	color: #ffa;
}

#top-nav ul li:last-child
{
	padding-right: 0;
}

#container
{
	width: 760px;
	background: #eeeef4;
	padding: 20px;
	margin: 20px auto;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

h2 span.setting-type
{
	font-weight: normal;
}
p.intro
{
	font-size: 116%;
	padding: 10px;
	background: #fff;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

}
ul.link-list li
{
	margin: 0;
}
